@model RecensionsProjekt.Models.RegisterViewModel

@{
    ViewBag.Title = "Registrera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrera</h2>

@using (@Html.BeginForm("AddNewUser", "Account"))
{
    <p>
        @Html.Label("Förnamn:")
    </p>
    <p>
        @Html.TextBoxFor(x => x.Firstname)
        @Html.ValidationMessageFor(x => x.Firstname, null, new { @class = "ui-state-error-text" })
    </p>
    <p>
        @Html.Label("Efternamn:")
    </p>
    <p>
        @Html.TextBoxFor(x => x.Lastname)
        @Html.ValidationMessageFor(x => x.Lastname, null, new { @class = "ui-state-error-text" })
    </p>
    <p>
        @Html.Label("Användarnamn:")
    </p>
    <p>
        @Html.TextBoxFor(x => x.Username)
        @Html.ValidationMessageFor(x => x.Username, null, new { @class = "ui-state-error-text" })
    </p>
    <p>
        @Html.Label("Lösenord")
    </p>
    <p>
        @Html.PasswordFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "ui-state-error-text" })
    </p>
    <p>
        @Html.Label("Email:")
    </p>
    <p>
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "ui-state-error-text" })
    </p>
    <p>
        @Html.ValidationMessage("AlreadyExistsError")
    </p>
    <div>
        <button id="btnRegisterNewUser" class="btn btn-primary">Registera</button>
    </div>
}

