@model RecensionsProjekt.Models.PasswordViewModel

@{
    ViewBag.Title = "Ändra lösenord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ändra lösenord</h2>

@using (@Html.BeginForm("ChangeUserPassword", "User"))
{
    <p>
        @Html.Label("Nytt lösenord:")
    </p>
    <p>
        @Html.PasswordFor(x => x.NewPassword)
        @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "ui-state-error-text" })
    </p>
    <p>
        @Html.Label("Nuvarande lösenord:")
    </p>
    <p>
        @Html.PasswordFor(x => x.OldPassword)
        @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "ui-state-error-text" })
    </p>
    <p>
        @Html.ValidationMessage("InvalidCredentialsError", new { @class = "ui-state-error-text" })
    </p>
    <div>
        <input type="submit" value="Ändra lösenord" class="btn btn-success" onclick="return confirm('Är du säker på att du vill ändra lösenord?')" />
    </div>
}

